# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*


# Database stuff
app.db
db.sqlite3
db.sqlite3-journal


# Logs
logs
**/*.log


# Environments
.env
.venv
env/
venv/


# Misc
.misc
.vscode
bin/
